n8n-linkedin-post-creater.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1hKmtV6mYfCKO8Brm9KRSb1ArxxwS-E98jDghmqVK_9M",
          "mode": "list",
          "cachedResultName": "umavenkatasaivinay",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hKmtV6mYfCKO8Brm9KRSb1ArxxwS-E98jDghmqVK_9M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hKmtV6mYfCKO8Brm9KRSb1ArxxwS-E98jDghmqVK_9M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c2346785-51dc-4639-a2fa-34997d771231",
      "name": "Google Sheets Trigger",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "kuBMIIIGaJgcewCd",
          "name": "Google Sheets Trigger account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=: \"Analyze this article and create a summary that:\n  1. Captures the 3 most important insights\n  2. Includes any actionable advice or tips\n  3. Maintains the original tone and perspective\n  4. Highlights implications for the target audience\n  5. Stays under 200 words for social media adaptation\n   {{ $json.newsletter }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "dc2d4d77-15fa-446c-99b7-ca2f3df6effb",
      "name": "summarize articals"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        192
      ],
      "id": "1d4e3e7e-3fa2-4e00-ab79-07668003e827",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ec8UaNGDPAqujj33",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert and draft a LinkedIn post discussing key points from a news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current industry trends, and encourage professional engagement or discussion. Highlight any notable implications for the industry. Since LinkedIn supports detailed posts, ensure it is informative and structured. Include a professional call to action.give the content in only 100 words. Here's a summary of the article:{{ $json.text }} ",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        560,
        0
      ],
      "id": "a7935738-f021-44a4-84ef-dae8401fee93",
      "name": "posting"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        576,
        208
      ],
      "id": "19d6cc91-f6be-40c3-a783-abf144c401f1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ec8UaNGDPAqujj33",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "person": "_qHV5iOPAH",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1056,
        144
      ],
      "id": "6b8e4d6d-612a-4f94-b2ed-db0556900866",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "S7rCmZbL4V8EcUke",
          "name": "LinkedIn account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.myNewField = 1;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        0
      ],
      "id": "f67a6f1e-830f-48a7-9848-650d208bc3c0",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "summarize articals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "summarize articals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "summarize articals": {
      "main": [
        [
          {
            "node": "posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "posting": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "posting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4f57f301-b7cc-479a-9304-b598feb33b9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00562203de774c7ff6612cf0227e5a5309b0b0087c9e9b328d26ca1bf53a6c87"
  },
  "id": "T8uyURSJSwG4XnQ0",
  "tags": []
}